body {
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: auto;
    padding: 8px;
    border: 3px solid grey;
    text-align: center;
    background-color: navy;
    color: white;
    font-size: large;
}